name: build
on:
  workflow_run:
    workflows: ["test"]
    types: 
      - completed
jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: build
      working-directory: ./app
      run: go build -v ./...
